name: build

on:
  workflow_dispatch:

env:
  CONFIG_JSON: ${{ secrets.CONFIG_JSON }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - uses: actions/checkout@v6
      with:
        repository: ${{ secrets.REPO_NAME }}
        ssh-key: ${{ secrets.SSH_REPO_DEPLOY_PRIVATE_KEY }}
        path: repo

    - uses: actions/setup-node@v6
      with:
        node-version: 'latest'

    - name: Install & Build repo
      working-directory: ./repo
      run: |
        npm i
        npm run build > logfile.txt 2>&1

    - name: Install & Build
      run: |
        npm i
        npm run build




    # commiting and pushing changes
    - name: commit and push repo
      working-directory: ./repo
      shell: bash
      run: |
        git config --global user.email github-actions@github.com
        git config --global user.name github-actions
        git pull
        git add -A
        git commit -m 'Generated Files'
        git push       
    # commiting and pushing changes
    - name: commit and push
      shell: bash
      run: |
        git config --global user.email github-actions@github.com
        git config --global user.name github-actions
        git remote set-url origin "https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}"
        git pull
        git add -A
        git commit -m 'Generated Files'
        git push
