name: build

on:
  workflow_dispatch:

env:
  CONFIG_JSON: ${{ secrets.CONFIG_JSON }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - uses: actions/checkout@v6
      with:
        repository: ${{ secrets.REPO_NAME }}
        ssh-key: ${{ secrets.SSH_REPO_DEPLOY_PRIVATE_KEY }}
        path: repo

    - uses: actions/setup-node@v6
      with:
        node-version: 'latest'

    - name: Build
      run: |
        npm install
        npm run build

    # commiting and pushing changes
    - name: commit and push
      shell: bash
      run: |
        git config --global user.email github-actions@github.com
        git config --global user.name github-actions
        git pull
        git add -A
        git commit -m 'Generated Files'
        git push
