name: CI

on:

  schedule:
    - cron: 49 0 * * *

  workflow_dispatch:

env:
  CONFIG_JSON: ${{ secrets.CONFIG_JSON }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        repository: ${{ secrets.REPO_NAME }}
        ssh-key: ${{ secrets.SSH_REPO_DEPLOY_PRIVATE_KEY }}

    - uses: actions/setup-node@v6
      with:
        node-version: 'latest'

    - name: Install & Build repo
      run: |
        npm i
        npm run build > logfile.txt 2>&1


    - name: Deploy
      uses: cloudflare/wrangler-action@v3
      with:
        apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        quiet: true
        command: |
          pages deploy --project-name=${{ secrets.PROJECT_NAME }} dist

    # commiting and pushing changes
    - name: commit and push repo
      if: always()
      shell: bash
      run: |
        git config --global user.email github-actions@github.com
        git config --global user.name github-actions
        git pull
        git add -A
        git commit -m 'Generated Files'
        git push       
